
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;1,600&family=Playfair+Display:wght@400;500;600&display=swap');
body{
  background-color: #F9FAFF !important;
  font-family: 'Nunito', sans-serif;
  font-family: 'Playfair Display', serif;
}


button:focus{
  box-shadow: none !important;
}



nav .nav-link{
  font-family: Raleway;
  color: #25282B;
  font-style: normal;
  font-weight: 500;
}





/* hero section */

.hero-section_grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

@media (min-width:992px) {
  .hero-section_grid{
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

.hero-section_caption{
  color: #FDC435;
  font-family: Nunito;
}
.hero-section_heading{
  color: #333;
  font-family: Playfair Display;
}

.hero-section_text{
  color: #828282;
  font-family: Nunito;
}







/* add-project */


.add-project form{
  max-width: 400px;
  margin: auto;
}

.add-project form label{
  color:  #25282B;
  font-family: Nunito;
  font-weight: 600;
  line-height: normal;
}


.add-project form textarea{
  height: 160px;
}












.project-item{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}

@media (min-width:768px) {
  .project-item{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

.project-item img{
  aspect-ratio: 3/2;
}

.grid-reverse{
  direction: rtl;
}
.project-item_grid-item{ direction : ltr; }